@using Entities.DTOs;
@model UserUpdateDTO

@{
    ViewData["Title"] = "UserUpdate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Kullanıcı Güncelleme</p>
                    <h1>Güncelleme</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<br />



<div class="row">
    <div class="col-md-4">
        <form asp-action="UserUpdate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label" ></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger " ></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


