@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Kaliteli Hamburgerler</p>
                    <h1>Hakkımızda</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->
<!-- featured section -->
@* <div class="feature-bg">   *@
<br />
<div class="container">
    <div class="row">

        <div class="col-lg-7">

            <div class="featured-text">
                <h2 class="pb-3">Neden <span class="orange-text">FÖHM</span></h2>
                <div class="row">
                    <div class="col-lg-6 col-md-6 mb-4 mb-md-5">
                        <div class="list-box d-flex">
                            <div class="list-icon">
                                <i class="fas fa-shipping-fast"></i>
                            </div>
                            <div class="content">
                                <h3>Eve Sipariş</h3>
                                <p>Sizlere evinizde hizmet sunuyoruz. Detaylı bilgi ve sipariş için bize ulaşın.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 mb-5 mb-md-5">
                        <div class="list-box d-flex">
                            <div class="list-icon">
                                <i class="fas fa-money-bill-alt"></i>
                            </div>
                            <div class="content">
                                <h3>En İyi Fiyat</h3>
                                <p>Lezzetli hamburgerler, uygun fiyatlarla sizi bekliyor!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 mb-5 mb-md-5">
                        <div class="list-box d-flex">
                            <div class="list-icon">
                                <i class="fas fa-briefcase"></i>
                            </div>
                            <div class="content">
                                <h3>Doyurucu Menüler</h3>
                                <p>En lezzetli hamburgerler ile gelen patates ve istediğiniz içecek.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 mb-5 mb-md-5">
                        <div class="list-box d-flex">
                            <div class="list-icon">
                                <i class="fas fa-sync-alt"></i>
                            </div>
                            <div class="content">
                                <h3>Hızlı İade</h3>
                                <p>Eğer hamburgerimizi beğenmezseniz, sorgu sual olmadan geri alıp paranızı iade ediyoruz. Kendimize olan güvenimiz tam!</p>
                                <br />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 mb-5 mb-md-5">
                        <div class="list-box d-flex">
                            <div class="list-icon">
                                <i class="fas fa-archive"></i>
                            </div>
                            <div class="content">
                                <h3>Kalite ve Tazelik</h3>
                                <p>Föhm Hamburgercisi, en taze ve en kaliteli malzemeleri seçerek lezzet dolu hamburgerler sunar. İşte burada, her bir malzemenin özenle seçildiği ve bir araya getirildiği bir lezzet serüvenine davetlisiniz.</p>
                                <br />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 mb-5 mb-md-5">
                        <div class="list-box d-flex">
                            <div class="list-icon">
                                <i class="fas fa-restroom"></i>
                            </div>
                            <div class="content">
                                <h3>Sıcak Atmosfer</h3>
                                <p>Föhm Hamburgercisi, sadece lezzetli yemekleriyle değil, aynı zamanda sıcak ve davetkar atmosferiyle de bilinir. Arkadaşlarınız veya ailenizle keyifli anlar yaşamak için mükemmel bir buluşma noktasıdır.</p>
                                <br />
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
  <div class="col-lg-5">

            <br />
            <br />
            <img src="~/fruitkha-1.0.0/assets/img/logo.png" alt="" class="img-fluid">
            <br />
            <br />
            <br />
            <br />
            <img src="~/fruitkha-1.0.0/assets/img/hakkında.jpg" alt="" class="img-fluid">
        </div>
    </div>
</div>


@* <div class="container mt-5">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-title">Hoş Geldiniz! Föhm Hamburgercisi</h2>
            <p class="section-subtitle mx-auto">Föhm Hamburgercisi, lezzetin ve kalitenin buluşma noktasıdır. Misafirlerimize unutulmaz bir tadı deneyimleme fırsatı sunan bu özel mekan, her ısırıkta müşterilerine lezzetli anlar yaşatmayı amaçlar.</p>

            <h3 class="section-subtitle mx-auto">Kalite ve Tazelik</h3>
            <p class="section-subtitle mx-auto">Föhm Hamburgercisi, en taze ve en kaliteli malzemeleri seçerek lezzet dolu hamburgerler sunar. İşte burada, her bir malzemenin özenle seçildiği ve bir araya getirildiği bir lezzet serüvenine davetlisiniz.</p>

            <h3 class="section-subtitle mx-auto">Benzersiz Tarifler</h3>
            <p class="section-subtitle mx-auto">Menümüzde yer alan hamburgerler, şeflerimizin özel tarifleriyle hazırlanır. Her bir hamburger, damak zevkinize hitap edecek özel bir lezzet deneyimi sunar. Föhm farkıyla, geleneksel lezzetlere modern bir dokunuş katıyoruz.</p>

            <h3 class="section-subtitle mx-auto">Sıcak Atmosfer</h3>
            <p class="section-subtitle mx-auto">Föhm Hamburgercisi, sadece lezzetli yemekleriyle değil, aynı zamanda sıcak ve davetkar atmosferiyle de bilinir. Arkadaşlarınız veya ailenizle keyifli anlar yaşamak için mükemmel bir buluşma noktasıdır.</p>

            <h3 class="section-subtitle mx-auto">Misafir Memnuniyeti Odaklı Hizmet</h3>
            <p class="section-subtitle mx-auto">Müşteri memnuniyeti, Föhm Hamburgercisi'nin öncelikli hedeflerinden biridir. Deneyimli ve güleryüzlü personelimiz, sizlere en iyi hizmeti sunmak için çalışır ve her ziyaretinizi özel kılmak için çaba gösterir.</p>

            <p class="section-subtitle mx-auto">Föhm Hamburgercisi, lezzetin ve keyfin bir araya geldiği bir gastronomi macerası sunar. Sizleri bu lezzet yolculuğuna davet ediyoruz!</p>
        </div>
    </div>
</div>
 *@
