@{
    ViewData["Title"] = "AccessDenied";
    Layout = null;
}

<!-- favicon -->
<link rel="shortcut icon" type="image/png" href="~/fruitkha-1.0.0/help-documentation/images/favicon.png">
<!-- google font -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
<!-- fontawesome -->
<link rel="stylesheet" href="~/fruitkha-1.0.0/assets/css/all.min.css">
<!-- bootstrap -->
<link rel="stylesheet" href="~/fruitkha-1.0.0/assets/bootstrap/css/bootstrap.min.css">
<!-- owl carousel -->
<link rel="stylesheet" href="~/fruitkha-1.0.0/assets/css/owl.carousel.css">
<!-- magnific popup -->
<link rel="stylesheet" href="~/fruitkha-1.0.0/assets/css/magnific-popup.css">
<!-- animate css -->
<link rel="stylesheet" href="~/fruitkha-1.0.0/assets/css/animate.css">
<!-- mean menu css -->
<link rel="stylesheet" href="~/fruitkha-1.0.0/assets/css/meanmenu.min.css">
<!-- main style -->
<link rel="stylesheet" href="~/fruitkha-1.0.0/assets/css/main.css">
<!-- responsive -->
<link rel="stylesheet" href="~/fruitkha-1.0.0/assets/css/responsive.css">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>404 Error - SB Admin</title>
    <link href="css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="layoutError">
        <div id="layoutError_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="text-center mt-4">
                                <h1 class="display-1">500</h1>
                                <p class="lead">Internal Server Error</p>
                                <a href="/Home/Index">
                                    <i class="fas fa-arrow-left me-1"></i>
                                    Return to Dashboard
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div id="layoutError_footer">
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2023</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
</body>
</html>
<!-- end copyright -->
<!-- jquery -->
<script src="~/fruitkha-1.0.0/assets/js/jquery-1.11.3.min.js"></script>
<!-- bootstrap -->
<script src="~/fruitkha-1.0.0/assets/bootstrap/js/bootstrap.min.js"></script>
<!-- count down -->
<script src="~/fruitkha-1.0.0/assets/js/jquery.countdown.js"></script>
<!-- isotope -->
<script src="~/fruitkha-1.0.0/assets/js/jquery.isotope-3.0.6.min.js"></script>
<!-- waypoints -->
<script src="~/fruitkha-1.0.0/assets/js/waypoints.js"></script>
<!-- owl carousel -->
<script src="~/fruitkha-1.0.0/assets/js/owl.carousel.min.js"></script>
<!-- magnific popup -->
<script src="~/fruitkha-1.0.0/assets/js/jquery.magnific-popup.min.js"></script>
<!-- mean menu -->
<script src="~/fruitkha-1.0.0/assets/js/jquery.meanmenu.min.js"></script>
<!-- sticker js -->
<script src="~/fruitkha-1.0.0/assets/js/sticker.js"></script>
<!-- form validation js -->
<script src="~/fruitkha-1.0.0/assets/js/form-validate.js"></script>
<!-- main js -->
<script src="~/fruitkha-1.0.0/assets/js/main.js"></script>